{{ partial "header.html" . }}


<h1>{{ .Title }}</h1>

{{ .Content }}

<ul>
    {{ range .Pages }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <br>
        <span>{{ lower (.Lastmod.Format "January 2, 2006") }} {{ range .Params.tags }} | <a href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>
    </li>
    {{ end }}
</ul>


<hr>
{{ lower (.Date.Format "January 2, 2006") }} / last updated {{ lower (.Lastmod.Format "January 2, 2006") }} 


{{ if .Params.tags }}
<hr>
    <i>tags: {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}</i>
{{ end }}

{{ partial "footer.html" . }}

